.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 50px;
}

.item_image {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.controls_box h2 {
  text-align: center;
  font-family: 'MedievalSharp', cursive;
  padding: 10px 0;
}
