.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.item_image {
  width: 100px;
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.item_image:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.special_message {
  position: fixed;
  font-size: 2em;
}

.controls_box {
  border: 5px solid rgb(233, 204, 141);
  background-color: rgb(255, 239, 195);
  margin: 0 30px;
  padding: 20px;
  text-align: center;
}

.controls_box h2 {
  text-align: center;
  font-family: 'MedievalSharp', cursive;
  padding: 10px 0;
}

.proceed_btn {
  font-family: 'MedievalSharp', cursive;
  font-size: 1.4em;
  padding: 5px 15px;
  margin-top: 15px;
  border: 5px solid rgb(233, 204, 141);
  background-color: rgb(255, 239, 195);
}

.proceed_btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.popup_msg {
  font-family: 'MedievalSharp', cursive;
  font-size: 2em;
}

.attack_button {
  font-family: 'MedievalSharp', cursive;
  font-size: 1em;
  padding: 5px 15px;
  border: 5px solid rgb(233, 144, 141);
  background-color: rgb(255, 239, 195);
}

.attack_button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* popup */
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup_inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border: 5px solid rgb(233, 204, 141);
  background-color: rgb(255, 239, 195);
}
