.player_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 5px solid rgb(233, 204, 141);
  background-color: rgb(255, 239, 195);
}

.player_image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.name {
  font-family: 'MedievalSharp', cursive;
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.health_bar {
  width: 0%;
  height: 15px;
  background-color: red;
}
