/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  max-width: 1280px;
  margin: 0 auto;
}

.App {
  background-image: url('https://wallpapercave.com/wp/wp5910104.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
